In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [8]:
stats = pd.read_csv('prepared_plyrs_stats.csv', index_col=0)
stats = stats.drop(['season'], axis = 1)
stats.head()

,salary,Salary Cap,% of Salary Cap,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PTS
0,395000.0,11871000.0,0.033274,0.3,50.2,0.0,70.1,256,5.7
1,494000.0,12500000.0,0.039520,0.3,50.2,0.0,70.1,256,5.7
2,500000.0,14000000.0,0.035714,0.3,50.2,0.0,70.1,256,5.7
3,805000.0,15175000.0,0.053048,0.3,50.2,0.0,70.1,256,5.7
4,650000.0,15964000.0,0.040717,0.3,50.2,0.0,70.1,256,5.7

In [9]:
stats.describe()

,salary,Salary Cap,% of Salary Cap,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PTS
count,1.362600e+04,1.362600e+04,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000
mean,3.244537e+06,4.297747e+07,0.079084,2.086966,45.239960,26.507383,73.797696,615.134229,9.360238
std,4.231190e+06,2.458779e+07,0.082294,1.718539,5.049756,12.985517,9.455846,344.978096,5.062386
min,2.706000e+03,3.600000e+06,0.000047,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,6.644068e+05,2.300000e+07,0.020593,0.800000,42.200000,19.100000,69.200000,341.000000,5.500000
50%,1.550000e+06,4.384000e+07,0.051685,1.600000,45.000000,31.400000,75.300000,618.000000,8.400000
75%,4.000000e+06,5.804400e+07,0.110269,2.800000,48.400000,35.600000,80.200000,858.000000,12.500000
max,3.468255e+07,9.909300e+07,1.237122,11.200000,67.000000,100.000000,100.000000,1611.000000,30.100000

In [10]:
y = stats['% of Salary Cap']
X = stats.drop(['% of Salary Cap'], axis=1)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.70, test_size=0.30)

In [12]:
reg.fit(X_train, y_train)

LinearRegression()

In [13]:
y_pred = reg.predict(X_test)

compare = pd.DataFrame({'Actual': y_test, 'Predicted':y_pred})
compare

         Actual  Predicted
2974   0.143981   0.115185
12413  0.060009   0.078289
9355   0.047706   0.103078
12384  0.135269   0.132499
6641   0.316262   0.140727
...         ...        ...
5278   0.021935   0.065210
5635   0.223968   0.234656
5650   0.201831   0.284255
2705   0.014286   0.013533
12053  0.063498   0.081615

[4088 rows x 2 columns]

In [14]:
from sklearn import metrics
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))
print('MSE:', metrics.mean_squared_error(y_test, y_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

MAE: 0.022273976073060742
MSE: 0.001220281145501986
RMSE: 0.034932522747462516