In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [11]:
stats = pd.read_csv('prepared_plyrs_stats.csv', index_col=0)
stats.head()

,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PTS,salary
abdelal01,0.3,50.2,0.0,70.1,256,5.7,2844000.0
abdulka01,3.6,55.9,5.6,72.1,1560,24.6,8560000.0
abdulma02,3.5,44.2,35.4,90.5,586,14.6,19849500.0
abdulta01,1.1,41.7,23.7,70.3,236,7.8,37982800.0
abdursh01,2.5,47.2,29.7,81.0,830,18.1,95866000.0

In [12]:
stats.describe()

,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PTS,salary
count,2161.000000,2161.000000,2161.000000,2161.000000,2161.000000,2161.000000,2.161000e+03
mean,1.699306,43.848080,25.436465,72.464230,403.822767,7.550902,2.045815e+07
std,1.516540,6.458303,14.350810,11.128367,340.539185,4.861326,3.559630e+07
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,2.706000e+03
25%,0.700000,40.800000,16.700000,66.700000,103.000000,3.800000,1.090000e+06
50%,1.200000,44.000000,29.800000,74.200000,311.000000,6.400000,5.147896e+06
75%,2.200000,47.700000,35.000000,79.500000,655.000000,10.100000,2.368750e+07
max,11.200000,67.000000,100.000000,100.000000,1611.000000,30.100000,3.438724e+08

In [13]:
y = stats['salary']
X = stats.drop(['salary'], axis=1)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.60, test_size=0.40)

In [15]:
reg.fit(X_train, y_train)

LinearRegression()

In [16]:
y_pred = reg.predict(X_test)

compare = pd.DataFrame({'Actual': y_test, 'Predicted':y_pred})
compare

              Actual     Predicted
harrima01   716040.0  6.042251e+06
richama01  2944440.0 -5.132149e+06
kellocl01  1398000.0  4.535027e+07
garcial01   986977.0  2.947957e+06
cvetkra01   200000.0  1.423234e+07
...              ...           ...
slatere01  2541437.0  8.144753e+06
gelabmi01  2051298.0 -5.163314e+06
freewo01   1550000.0  8.136450e+07
jamesda01  2449658.0 -4.702064e+06
askinke01  5748400.0  1.643891e+07

[865 rows x 2 columns]

In [18]:
from sklearn import metrics
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))
print('MSE:', metrics.mean_squared_error(y_test, y_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

MAE: 15904018.200044058
MSE: 599675059900584.8
RMSE: 24488263.71755631